*{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
}
#navbar{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: auto;
    text-align: center;
    padding: 20px;
    background-color:yellow;
    position: sticky;
    top: 0%;
}
#navbar:hover{
    background-color: white;
}
#lgo{
    height: 40px;
    margin-left: 250px;
    margin-right: -20px;
}
#lgo+h3{
    font-size: 20px;
    font-weight: bold;
}
h3+div{
    margin-left: 80px;
}
#navbar>button{
    padding: 10px 25px;
}
#hdr{
    height: 450px;
    background-color: yellow;
    display: flex;
}
#hdr img{
    height: 80%;
    margin-top: 30px;
}
#hdr>div:nth-child(1){
    width: 25%;
    margin-left: 170px;
    margin-top: 60px;
    line-height: 30px;
    margin-right: 60px;
}
#hdr>div:nth-child(1)>p{
    font-size: 20px;
}
#hdr>div:nth-child(1)>button{
    margin-top: 40px;
    padding: 20px 35px;
}
#hdr>div:nth-child(1)>button,#navbar>button+button{
    background-color: teal;
    border: none;
    color: white;
}
h2{
    text-align: center;
    margin: 50px 0px;
    font-size: 50px;
}
#bdy{
    height: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: 1px solid red;
    
    justify-content: none;
}
#bdy>div{
    border: 1px solid red;
    margin-top: 40px;

}
.pic{
    text-align: center;
}
.data>h1{
    width: 280px;
    
}
.data>p{
    width: 70%;
    font-size: 20px;

}
.data>button{
    margin-top: 30px;
    padding: 20px 35px;
}
#bdy img{
    height: 50%;
}
#prom{
    background-color: rgb(228, 228, 228);
}
#prom>p{
    text-align: center;
    font-size: 25px;
}
#prom>div{
    width: 70%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}
#prom>div>div{
    height: 100%;
    width: 30%;
}
#prom img{
    height: 80%;
}
#prom p{
    font-size: 20px;
}